[2018-01-31 22:48] stevekuznetsov opened #1 "Dry run mode"
We need an entrypoint that will use the config to give an output `api.List` of items that will be created. We need to determine how to deal with fields that would otherwise be generated or dynamically resolved like the RPM server URL.

[2018-01-31 22:48] stevekuznetsov opened #2 "Dependency resolution mode"
We need an entrypoint that will take job config and determine which image(s) are necessary, waiting on or attempting to build only those.

[2018-01-31 22:49] stevekuznetsov opened #3 "Logging"
We need a structured and verbose approach to logging so the `ci-operator` framework can be debugged after the fact.

[2018-03-08 11:40] mhausenblas opened #4 "Move to dep from Glide"
Currently this repo uses Glide for dependency management. It would be very good to move to [dep](https://golang.github.io/dep/).

[2018-04-15 21:25] kargakis opened #8 "Graceful shutdown"
Ensure graceful shutdown is done and we are not leaking clusters in e2e tests.

[2018-05-16 15:52] smarterclayton commented on #2
May not be necessary anymore with the way we pull stable images.  Thoughts?

[2018-05-16 15:52] #2 closed

[2018-05-16 16:07] smarterclayton opened #17 "Have canonical inputs to config.json that can be overriden"
config.json takes a number of input images (that today must come from a cluster)

[code]

These are all details of the particular cluster a job is run against, not a detail about the project itself.  each of these steps results in something being tagged into either `stable` or `pipeline` with a short name (which must be unique).

I think the canonical form of these should either be in the dockerfi

[2018-05-16 16:07] smarterclayton commented on #17
@stevekuznetsov @kargakis

[2018-05-16 16:17] smarterclayton opened #18 "Make API patterns look more like kube pattterns"
ci-operator might eventually be useful for openshift users.  If we have any possibility of using it there, we should be consistent with Kube API conventions, specifically `camelCase` instead of `snake_case` and also version the object.

@stevekuznetsov

[2018-05-16 21:35] smarterclayton commented on #17
If we did this then we can move config.json into the hosting repo and ci-operator would work against that repo raw.

[2018-05-17 12:00] kargakis commented on #17
sgtm

[2018-05-18 03:13] smarterclayton commented on #17
Another thing we could do - job spec should probably have a canonical definition and we could probably look that up in the current repo (when ci-operator is executing in a repo).  In the future we could do local builds by building the src image ourself:

    $ ci-operator --local --namespace=claytons-ns

`--local` would check for the local config.json, check if we are in a git repo, and create the

[2018-05-20 21:10] smarterclayton commented on #17
opened #20 as the basics of this.

[2018-05-28 21:49] #17 closed

[2018-05-30 17:28] stevekuznetsov commented on #2
This was `--target`

[2018-06-05 17:13] #3 closed

[2018-06-20 17:43] vrutkovs opened #26 "steps ... are missing dependencies ..."
`config.json` with `base_rpm_images` without `base_images` throws:
[code]

[2018-06-21 20:20] cgwalters opened #28 "Have a more Travis/PAPR-style interface"
There's a natural tension between Prow which was designed for Kubernetes, where a centralized repo wants its tests owned by a core set of people, versus a testing system like Travis which is designed to do completely arbitrary things for tens (hundreds?) of thousands of git repositories.

Today AIUI, the Prow/CI configurations are stored in configmaps which are themselves stored in a [git repo](ht

[2018-06-21 20:50] jlebon commented on #28
Yeah, it'd be nice to have the best of both worlds. The global config approach just doesn't feel maintainable to me. For reference, the `config.yaml` for OpenShift right now is 3,715 lines (IIUC it's [this file](https://github.com/openshift/release/blob/master/cluster/ci/config/prow/config.yaml), right?). For Kubernetes, that number is... 17,064.

One thing I'm currently experimenting with is usin

[2018-06-21 21:02] cgwalters commented on #28
I believe today we could probably have each repo have a generic config that executed a "generic container" that just read the `.osci.yml` from the git repo and used its delegated creds to spawn the specified container in the namespace.  One detail that isn't clear to me is - in Prow, what clones the git repo?  Is it mounted as a PV or it just in the overlayfs?  (Is this `clonerefs`?)  Regardless t

[2018-06-21 21:04] cgwalters commented on #28
BTW I have to mention again how much I love the idea of a PR having an entire OpenShift namespace.

[2018-06-22 23:52] smarterclayton commented on #28
And as I've used it more, I think it's the right decision to centralize.  Centralizing it makes it so much easier to script, automate, and unify.  Teams jobs change rarely.  CI infra is a piece of unified software that benefits from centralization.  That said, the jobs should be easy to use individually, and people should definitely be able to have their own jobs under their own control.

That doe

[2018-06-29 19:41] cgwalters commented on #28
I'm willing to *try* this but...we're talking about a whole lot of repositories here.  Let's take a simple example of something 1) in the critical path 2) is nothing at all like the other openshift components: https://github.com/projectatomic/container-storage-setup

This is one where we really want virtualized testing, it's not golang, etc.  Doesn't change frequently today though, but it needs a

[2018-07-09 14:40] stevekuznetsov opened #46 "We should be using YAML for our configuration"
Instead of the JSON files that we currently support. The k8s apimachinery YAML parsing library is the most appropriate one for us to use here.

/kind feature

[2018-07-17 14:39] kargakis commented on #26
I am also hitting this. Unclear error.

I have the following config
[code]
All I want is to run a single build. I am using the following command:
[code]
Any ideas on how to debug more? @stevekuznetsov @bbguimaraes

[2018-07-18 22:11] stevekuznetsov commented on #26
@smarterclayton that error message is 0/10 :(

[2018-07-24 09:37] kargakis opened #54 "Allow external container images as base"
It seems I can only use imagestreamtags to base my builds on. It would be nice to allow the use of container images served outside of the cluster. Or maybe this is already supported but I have no idea how to make use of it.

@stevekuznetsov

[2018-07-24 09:39] kargakis opened #55 "Rename `test_base_image` to something more intuitive"
`test_base_image` feels like the base image that is going to be used for running tests. Seems to be something different (the base image used for the binary builds).

@stevekuznetsov @smarterclayton

[2018-07-24 09:44] kargakis opened #56 "Provide examples for common use cases"
I guess this is part of a greater documentation effort but we need examples for most common use cases (eg. a job that builds binaries, a job that builds and runs unit tests, etc.). The only source of examples atm is openshift/release but that shouldn't be the case.

cc @petr-muller

[2018-07-24 12:54] petr-muller commented on #56
Definitely agree.

[2018-07-24 13:00] petr-muller commented on #55
The thing is that can be *also* a base for running tests - you can have a `tests` item that has `"from": "src"` running something like `make test-unit`, relying on make doing the binary build basically just as an implementation detail of the test.

[2018-07-24 14:17] smarterclayton commented on #55
Agree - it’s the compilation or code or tooling image.

On Jul 24, 2018, at 5:39 AM, Michalis Kargakis <notifications@github.com>
wrote:

test_base_image feels like the base image that is going to be used for
running tests. Seems to be something different (the base image used for the
binary builds).

@stevekuznetsov <https://github.com/stevekuznetsov> @smarterclayton
<https://github.com/smartercla

[2018-07-24 14:29] smarterclayton commented on #55
It needs to be broader than test.  It should convey to the user that this
image is "source code + tooling needed to work with that source".  In s2i
or docker that's a base image.  It's also known as a builder image.  In RPM
this might be called the build root or build environment.  It might also be
called the build toolchain.

On Tue, Jul 24, 2018 at 10:17 AM Clayton Coleman <ccoleman@redhat.com>

[2018-07-25 00:03] stevekuznetsov commented on #54
I thought we did this for efficiency with pullthrough using the internal registry? I can't remember

/cc @smarterclayton

[2018-07-25 01:09] smarterclayton commented on #54
You can get images from another cluster via “cluster”.  We did this because a) you need a cluster anyway, b) the metadata and tagging is easy, and c) that’s how we release.

Just import your images to a namespace.

[2018-07-25 06:02] #54 closed

[2018-07-25 11:51] kargakis commented on #56
/assign petr-muller

[2018-07-25 11:52] kargakis commented on #56
/kind documentation

[2018-07-25 12:33] kargakis commented on #56
/assign petr-muller

[2018-07-25 12:35] kargakis commented on #56
@stevekuznetsov Petr is a member (https://github.com/orgs/openshift/people?utf8=%E2%9C%93&query=petr-muller)....

[2018-07-25 16:47] stevekuznetsov commented on #56
very interesting

[2018-07-25 16:48] stevekuznetsov commented on #56
/assign @petr-muller

[2018-07-25 16:52] stevekuznetsov commented on #56
@petr-muller I think this is the bug where you have your OpenShift organization membership private somehow on your profile -- I cannot assign you to this repo even with the GitHub UI

[2018-07-25 23:01] kargakis commented on #56
It shouldn't be the case. The bot should be able to see private members?

On Wed, Jul 25, 2018, 18:53 Steve Kuznetsov <notifications@github.com>
wrote:

[2018-07-26 09:14] petr-muller commented on #56
@stevekuznetsov @kargakis I *think* my membership is public (at least that's what I see [here](https://github.com/orgs/openshift/people?utf8=%E2%9C%93&query=petr-muller)) and I can see many people have Private there.

I've already noticed this around other OpenShift repos. In some, I can assign myself to issues. In other, I cannot.

[2018-07-26 18:07] stevekuznetsov commented on #56
Need to dig more into why GitHub doesn't allow this ...

[2018-07-26 18:08] stevekuznetsov commented on #56
/assign @petr-muller

[2018-07-26 18:08] stevekuznetsov commented on #56
Looks like you technically did not have read access

[2018-07-27 06:18] sttts opened #63 "Documentation"
This repo lacks a README.md and a repo title.

[2018-07-27 08:34] kargakis opened #64 "build fails with invalid image reference"
[code]
[code]
[code]
[code]
[code]

[2018-07-27 08:38] kargakis commented on #64
Looks like a ci-operator issue but in any case here is the config I am using:
https://github.com/openshift/release/blob/0aa4b3ab6a375c6195b2d4410ae90fb15ab5407b/ci-operator/config/openshift/openshift-azure/master.json
https://github.com/openshift/release/blob/0aa4b3ab6a375c6195b2d4410ae90fb15ab5407b/cluster/ci/config/prow/config.yaml#L3208-L3235

[2018-07-27 08:40] kargakis commented on #64
Or maybe a permission issue? The permissions I have setup can be found [here](https://github.com/openshift/release/blob/0aa4b3ab6a375c6195b2d4410ae90fb15ab5407b/projects/azure/rbac.yaml#L80-L143)

[2018-07-27 08:48] kargakis commented on #64
FWIW, and similar to https://github.com/openshift/release/issues/1096, I can run the ci-operator just fine locally:
[code]

[2018-07-27 08:51] kargakis commented on #64
In the pipeline image stream:
[code]

Looks like a permission issue.

[2018-07-27 09:17] #64 closed

[2018-07-27 20:56] stevekuznetsov opened #65 "Let the GitHub PR Author have view (or edit?) access into the namespace created by their tests"
This helps people iterate on stuff if they login to the api.ci cluster

/cc @bbguimaraes @smarterclayton

[2018-07-27 21:00] smarterclayton commented on #65
Should be safe, as long as people can't inject bogus GitHub authors.

[2018-07-27 21:01] smarterclayton commented on #65
I mean, I can't trick someone else.  Only people in openshift org should be able to log in (I think....)

[2018-07-27 21:03] smarterclayton commented on #65
Yeah.  So only question is whether this needs to be an opt-in flag on ci-operator (I kind of think yes, but could be convinced by arguments).

[2018-07-27 21:59] stevekuznetsov commented on #65
Opt-in sounds good, made a JIRA ticket for this
/close

[2018-07-27 21:59] #65 closed

[2018-07-28 19:06] smarterclayton opened #68 "ci-operator should write events when it completes and when it creates a namespace"
So that the event stream contains a record.

@stevekuznetsov now that we are doing a better job at recording events.

[2018-07-31 12:29] petr-muller opened #70 "We need reference for config file"
People often ask about a reference documentation for config files. #57 had an ambition to add one but it was not straightforward enough and multiple different proposals were raised there.

The actual content is already written in the form of comments of https://github.com/openshift/ci-operator/blob/master/pkg/api/types.go. It could be possible to generate the reference from there using godoc , as

[2018-07-31 14:47] stevekuznetsov opened #71 "Artifact location should not be surfaced to the end user"
Why do we do [this](https://github.com/openshift/release/blob/master/ci-operator/config/openshift/console/master.json#L40-L41):

[code]

The user does not care.

/cc @smarterclayton @droslean @petr-muller @bbguimaraes

[2018-07-31 15:03] smarterclayton commented on #71
Because not everyone will use ARTIFACT_DIR

On Tue, Jul 31, 2018 at 10:49 AM Steve Kuznetsov <notifications@github.com>
wrote:

[2018-07-31 22:32] stevekuznetsov commented on #71
I don't see a good reason why they shouldn't. If you would like to integrate, do something like:

[code]

[2018-07-31 22:40] stevekuznetsov commented on #70
Godoc is appealing as we can be more certain that comments on the types in code are in sync with actual state than we can be certain that a doc somewhere out in the wild is up-to-date.

[2018-08-01 14:40] smarterclayton commented on #71
I usually bias towards not having magical env vars (artifact_dir), and simply make them explicit / default.  I consider defaulting artifact dir, but it didn't feel that it dried enough up to be explicit.

[2018-08-02 15:26] stevekuznetsov commented on #68
@smarterclayton open questions on this:

 - what administrative debugging workflows is the record used for?
 - what information would be useful in the record?

Can you please update https://jira.coreos.com/browse/DPTP-90

[2018-08-07 10:12] mjudeikis opened #77 "Secret injection flow"
We would like to run our E2E tests, which requires some secrets to be injected. Env variables, configMaps.

1. We need a way to create those secrets. Currently, they exist in our `azure` namespace. Ci Operator could copy them to temporary namespace when referred.
2. It would be great if we could provide PodSpec struct for volumes/secrets/configMaps so we define how things are exposed to the test/b

[2018-08-07 13:45] bbguimaraes commented on #77
Documentation for e2e tests should be in `openshift/release` soon, you can
check the PR in the meantime:

https://github.com/openshift/release/pull/1113

[2018-08-08 09:17] petr-muller opened #78 "Onboarding doc needs to be updated to mention split Prow job config files"
`ONBOARD.md` was written while we still had a giant config file in `openshift/release`. We now have an ability to split them and we probably want new onboarders to create new configs this way.

https://github.com/openshift/ci-operator/blob/master/ONBOARD.md#add-prow-jobs

[2018-08-08 13:57] gabemontero opened #81 "onboarding doc should provide inventory/description of pertinent ISTs in api.ci"
A list of the imagestreamtags in the openshift namespace in api.ci that can be referenced in your ci-operator's config.json, along with information about the contents of each IST, or which openshif/origin Dockerfile they are built from, or how they get updated as PRs in openshift/origin merge, would have proven very useful during my jenkins test-e2e work.

[2018-08-08 13:58] gabemontero commented on #81
@stevekuznetsov which team tag would you prefer we use for items on openshift/ci-operator and openshift/release ?

[2018-08-08 16:35] stevekuznetsov commented on #81
Not sure what you mean about the test tag. I'll try to ingest this card into our JIRA

[2018-08-08 16:38] gabemontero commented on #81
Not test tag, but team tag ... sorry ... I meant is there a @openshift/sig-....... mentions tag I should use on openshift/ci-operator or openshift/release items (vs. just always tagging you) .... I though maybe continuous infra or cd team were appropriate, but wasn't sure and thought I'd ask.

10-4 re: injest into JIRA

[2018-08-08 16:38] stevekuznetsov commented on #81
We need to do better with our teams in GItHub and SIG labels... it's a TODO

[2018-08-08 16:38] gabemontero commented on #81
cool

[2018-08-08 16:40] stevekuznetsov commented on #77
@mjudeikis can you describe what you are trying to achieve here? What are the secrets for? What are they doing? What is their locality??

[2018-08-08 17:56] mjudeikis commented on #77
@stevekuznetsov something similar like @bbguimaraes mentioned about templates, but idea is template is overkill or this. We could run all cluster creation command from one of the target containers if we could inject our cloud (azure) secret to them

[2018-08-08 21:07] stevekuznetsov commented on #77
Again, what is your goal? Are you trying to run a cloud provisioner for Azure before validating the cluster using Origin e2e? Are you testing the provisioner separately? Let's sit down for a BJNS call to hash this out. /cc @kargakis

[2018-08-09 09:12] kargakis commented on #77
We can talk today

On Wed, Aug 8, 2018 at 11:07 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2018-08-10 15:41] stevekuznetsov commented on #77
We figured out a path.
/close

[2018-08-10 15:41] #77 closed

[2018-08-10 15:46] kargakis commented on #77
FWIW, our solution was to use a template (`--template`) for configuring the test pod to mount our secret, copy the secret over from ci to temp namespace (`--secret-dir`), and use `pipeline:bin` in the pullspec of the pod that runs our tests in order to test against the correctly cloned code.

https://github.com/openshift/release/pull/1164

[2018-08-10 21:26] sdodson opened #84 "error: failed to create objects: rolebindings.authorization.openshift.io "e2e-gcp-image-puller" already exists"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/9533/pull-ci-openshift-openshift-ansible-e2e-gcp/1218/

[code]

[2018-08-15 15:16] mjudeikis opened #92 "Email notifications"
We would like to move some of our periodic jobs from jenkins to `CI-Operator`

We can't do this because of lack of email notification capability.

@stevekuznetsov is this on the roadmap somewhere? (Seen the upstream issue 8668 already)

[2018-08-15 16:04] stevekuznetsov commented on #92
This should be handled by https://github.com/kubernetes/test-infra/issues/8668 and not ci-operator.

/close

[2018-08-15 16:04] #92 closed

[2018-08-15 21:37] gabemontero opened #93 "--give-pr-author-access-to-namespace=true broken"
Added this option to the jenkins e2e ... from https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_jenkins/679/pull-ci-jenkins-e2e-canary/14/

[code]

@stevekuznetsov @droslean ptal

[2018-08-15 22:49] stevekuznetsov commented on #93
Ugh, it _is_ a cluster role. Namespaced binding to a cluster role is a silly concept.

[2018-08-15 23:08] #93 closed

[2018-08-21 16:04] droslean commented on #68
@smarterclayton
Should we make this extensible? I will implement it like:
* Create an event controller.
* Start the event controller as goroutine that waits for an event in the event channel.
* The steps will write in that channel.

What kind of events? We have some acceptance criteria in [DPTP-90](https://jira.coreos.com/browse/DPTP-90). Do we need to add more?

This kind of implementation can sa

[2018-08-21 18:06] smarterclayton commented on #68
We don't need any extensibility.  I think it would be perfectly sufficient to write the following events:

1. write an event (ignore on error) to the namespace we created containing the details of the job we're creating for (audit who created the namespace)
2. write an event when we start running a job in an existing namespace (same details as 1, but for the alternate flow)
3. write an event (best

[2018-08-22 15:17] stevekuznetsov commented on #84
I think this is a symptom of the template reuse issue which we fixed. Please re-open if we see it again

/close

[2018-08-22 15:18] #84 closed

[2018-08-22 16:45] #78 closed

[2018-08-24 14:39] stevekuznetsov opened #108 "Can we use dep?"
Or is it still impossible to vendor OpenShift client libraries with dep?

/cc @smarterclayton @deads2k

[2018-08-24 15:54] deads2k commented on #108
@sttts indicated that it is possible, but there are sharp edges.  Is glide causing maintenance trouble?

[2018-08-24 20:31] smarterclayton opened #109 "Deleting a pod while the template instance is running doesn't abort the job"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_installer/170/pull-ci-origin-installer-e2e-aws-all/1/

ci-operator should have failed, but instead it looks like it hung waiting for something

[2018-08-27 23:11] stevekuznetsov commented on #108
The "update everything all at once" approach of `glide` was surprising. @droslean can give more context

[2018-08-28 10:29] droslean commented on #108
It seems that while we are trying to include one more package in our vendors, glide is trying to fetch all the updates. And since we don't have a stable versioning way in how we should get our vendors, everything falls apart.

We should investigate exactly which commit tree we want to use for all our vendors in order to avoid this problem, or we should change to dep. Related [issue](https://github

[2018-08-28 13:52] gabemontero commented on #108
also note that vendoring in openshift/client-go will not work out of the box with `dep`

Haseed noted a workaround in the `[aos-devel] glide vs dep? (was: operator-sdk and bringing in github.com/openshift/client-go as a dependency)` email thread of importing the versioned subpackage, if that is palpable to you.

There were also some claims of issues with transitive dependencies with `dep` in that

[2018-08-28 14:41] #68 closed

[2018-08-28 19:08] stevekuznetsov commented on #108
@droslean we don't have that issue with `dep`, I successfully version-pin stuff and update a single dep all the time. _required_ transitive dep bumps are unavoidable and expected

[2018-08-28 19:09] stevekuznetsov commented on #108
Looks like we can't use `dep` anyway
/close

[2018-08-28 19:09] #108 closed

[2018-08-30 10:45] petr-muller commented on #70
/close

https://github.com/openshift/ci-operator/pull/105

[2018-08-30 10:45] #70 closed

[2018-08-30 10:46] petr-muller commented on #63
I think we now have all basic documentation.

/close

[2018-08-30 10:46] #63 closed

[2018-08-30 21:45] stevekuznetsov opened #118 "artifacts: annotation for logs when something else fails"
In general, if the e2e tests container fails, we will often want to get the logs from the installer as well, even if the installer container did not fail. We should thread this through as an annotation like `ci-operator.openshift.io/wait-for-container-artifacts` and slap the setup container into there.

/cc @vrutkovs @smarterclayton

[2018-08-31 13:06] petr-muller commented on #46
/assign

![yatt](https://i.imgflip.com/2gy4sv.jpg)

[2018-08-31 13:10] petr-muller commented on #46
What needs to change:
- [ ] Convert all existing JSONs in [openshift/release](https://github.com/openshift/release) [WIP](https://github.com/petr-muller/release/tree/yaml-all-the-things)
- [ ] Change all references to JSONs in [openshift/release](https://github.com/openshift/release) [WIP](https://github.com/petr-muller/release/tree/yaml-all-the-things)

[2018-08-31 15:26] vrutkovs commented on #118
Discussed this on CI meeting today - the plan is to store the output of installer, gzip it and let ci-operator to decide if it needs to be kept or not. +1 from my side on this, I can prepare the template updates once this is decided

[2018-08-31 15:55] stevekuznetsov commented on #55
/assign @droslean

[2018-08-31 15:57] stevekuznetsov commented on #55
Will be fixed with the migration to https://jira.coreos.com/browse/DPTP-95
/close

[2018-08-31 15:57] #55 closed

[2018-08-31 16:12] stevekuznetsov commented on #46
Note that we don't necessarily need that order, right -- we can switch to use YAML, then continue to read JSON until we migrate

[2018-08-31 16:18] petr-muller commented on #46
Yeah. But the migration does not seem to be that hard.

[2018-08-31 16:57] stevekuznetsov commented on #18
Tracked in https://jira.coreos.com/browse/DPTP-146
/close

[2018-08-31 16:57] #18 closed

[2018-08-31 16:58] stevekuznetsov commented on #26
I think this was fixed
/close

[2018-08-31 16:58] #26 closed

[2018-08-31 17:01] stevekuznetsov commented on #28
I must have missed this  -- sorry.

For context, the `config.yaml` file was not reasonable for large amounts of users, so we and upstream moved to a tree structure, currently under `ci-operator/jobs/$org/$repo`

I think the current approach with CI Operator can be best described like this:

| Configuration File | Logic |
| -- | -- |
| `prow/config.yaml` | _when_ |

[2018-08-31 17:08] stevekuznetsov commented on #28
Tracked in https://jira.coreos.com/browse/DPTP-147
/close

[2018-08-31 17:08] #28 closed

[2018-08-31 17:15] #46 closed

[2018-08-31 17:29] stevekuznetsov commented on #118
xref https://jira.coreos.com/browse/DPTP-109

[2018-08-31 18:04] stevekuznetsov commented on #109
What workflow just deletes a `Pod`?

[2018-08-31 18:08] stevekuznetsov commented on #81
Tracked in https://jira.coreos.com/browse/DPTP-148
/close

[2018-08-31 18:08] #81 closed

[2018-08-31 18:09] stevekuznetsov commented on #71
The Prow pod-utils provide `$ARTIFACTS`, we can do the same

[2018-08-31 18:12] stevekuznetsov commented on #71
Tracked in https://jira.coreos.com/browse/DPTP-149
/close

[2018-08-31 18:12] #71 closed

[2018-08-31 18:12] stevekuznetsov commented on #56
The generator docs cover this now
/close

[2018-08-31 18:12] #56 closed

[2018-09-02 03:30] smarterclayton opened #122 "src build hung for over 2 hours, even after namespace deleted"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/20824/pull-ci-origin-e2e-gcp/3138/

[code]

[2018-09-05 09:12] kargakis opened #128 "Allow tagging images with the git commit they were built from"
We want to publish images tagged with the git commit they were built from. Not sure how difficult it is but my first thought was to allow referencing JOB_SPEC inside the ci-operator config. Then we could do something like:
[code]

 See https://github.com/openshift/openshift-azure/issues/327 for more info.

@stevekuznetsov @bbguimaraes @droslean @openshift/sig-azure

[2018-09-05 09:14] kargakis commented on #128
The downside of using JOB_SPEC is that it would break running the ci-operator locally.

[2018-09-05 09:19] kargakis commented on #128
Also we probably want to use the short commit ID.

[2018-09-05 09:19] kargakis commented on #128
@smarterclayton

[2018-09-05 15:17] stevekuznetsov commented on #128
This kind of breaks how we want to do releases. Why?

[2018-09-05 20:05] smarterclayton commented on #128
We should definitely label images with their git commit, and I might be ok
with a promote step in the future that promotes them to a git commit.  But
yeah, as Steve notes this would only be for non-origin releases.

On Wed, Sep 5, 2018 at 11:23 AM Michalis Kargakis <notifications@github.com>
wrote:

[2018-09-05 20:14] kargakis commented on #128
There are a couple of openshift projects that do not follow origin releases, we should be taking that into account when designing release tooling.

[2018-09-06 12:09] mjudeikis opened #131 "not all pipeline tags available to templates through $LOCAL_IMAGE_*"
We have use case where we need to pull few images as base images from other namespaces and use them in the template. Those images are heavy with a lot of tooling and static. So we pre-build them.
[code]

Images got tagged to `pipeline` IS as inputs:
[code]

If I try to resolve those in the template I get an error. Anything from ^ input:* is not available.
[code]

The right way to get images from o

[2018-09-06 14:43] stevekuznetsov commented on #131
If they're static, why not just use the pull spec from the registry directly in your template?

[2018-09-06 14:52] mjudeikis commented on #131
They are static for now, but it does not say it will stay like this. Its fine for us as long as you say "It is, not a bug, it is a feature" :)

[2018-09-07 09:37] kargakis opened #133 "Avoid duplicating common logic in Openshift templates"
We need a way to reuse a single Openshift template which provides us a fresh cluster installed on Azure. We want to be able to execute actions before and after the cluster is installed. Examples for running before include building a node image that the install can use. Examples for running logic after include running all sorts of e2e tests or upgrades.

Strawman implementation: ci-operator reads a

[2018-09-10 15:36] stevekuznetsov commented on #131
So to be clear, I would expect the images to be available with `LOCAL_IMAGE_<tag>` as documented [here](https://github.com/openshift/ci-operator/blob/master/TEMPLATES.md#local_image_pipeline-tag). Your example uses `IMAGE_<tag>` which is in correct. If `LOCAL_IMAGE_<tag>` is not working, please let us know and we will fix that bug. In the interim, it looks like you can just use the registry URL fo

[2018-09-10 16:57] stevekuznetsov commented on #133
/close

[2018-09-10 16:57] #133 closed

[2018-09-11 11:48] kargakis opened #135 "RFE: stream pod logs from templates in the job log"
At the moment, the ci-operator log is streamed in the job log view in prow. It would be nice to mux logs from test pods into that log.

[2018-09-11 11:56] droslean commented on #135
The logs from a failed test already appear in the ci-operator logs.  Also, the following option `give-pr-author-access-to-namespace` will grant, the pull request's author, access to the namespace that is being created, for further debugging purposes.

[2018-09-11 12:40] droslean opened #136 "lint plugin is not working for some users."
Even though that the lint run successfully, the bot coulnd't comment back, failling with an error like:
[code]

[2018-09-11 13:49] kargakis opened #137 "On-boarding example format needs to be updated to YAML"
https://github.com/openshift/ci-operator/blob/master/ONBOARD.md#using-separate-build-environment-and-release-environment-images

[2018-09-11 13:50] kargakis commented on #135
Yes, I think this is fine for now.

[2018-09-11 13:50] #135 closed

[2018-09-11 14:03] droslean commented on #136
/cc @stevekuznetsov @bbguimaraes @petr-muller

[2018-09-11 14:03] droslean commented on #136
/bug

[2018-09-11 14:04] droslean commented on #136
/kind bug

[2018-09-11 14:06] droslean commented on #137
@petr-muller

[2018-09-11 14:06] droslean commented on #137
/kind improvement

[2018-09-11 16:54] stevekuznetsov commented on #136
@droslean these issues should go into `openshift/release`, not here

[2018-09-11 16:55] #137 closed

[2018-09-11 17:00] stevekuznetsov commented on #136
Seems to work ok here: https://github.com/openshift/ci-operator/pull/125 -- I looked into the error message, cannot figure out what happened there. Reopen in `openshift/release` if we see it again.
/close

[2018-09-11 17:00] #136 closed

[2018-09-12 16:13] mjudeikis commented on #131
[code]
I can see tag is being translated to pipeline imageStream, but code cant access it. So yes, its a bug

[2018-09-13 09:43] kargakis opened #140 "Promotion of images is broken in 3.10"
After https://github.com/openshift/ci-operator/pull/126 got merged, our postsubmit job that uses promotion broke because `oc adm release` does not exist in 3.10. We will probably stop using `ci-operator:latest` for now and rollback to a commit that makes promotion work again but ideally ci-operator should be intelligent enough not to run these commands in 3.10?
https://storage.googleapis.com/origi

[2018-09-13 13:59] stevekuznetsov commented on #140
/assign @smarterclayton

[2018-09-13 14:30] stevekuznetsov commented on #131
/kind bug

[2018-09-13 14:33] stevekuznetsov commented on #131
Made an issue: https://jira.coreos.com/browse/DPTP-186

[2018-09-13 21:19] smarterclayton commented on #140
The bug is that the task thought you had a cluster-version-operator image tag, but you don't have it.  If you don't have a CVO image we don't build a release.  Fix is in #141

[2018-09-14 11:55] kargakis opened #142 "ci-operator does not support pulling multiple git repos"
We want to create a job that tests Azure VM image builds. We have a playbook for building images in openshift-ansible.

The test flow is as follows:
1. run image node build playbook (openshift-ansible)
2. test built image is valid by using it to run a cluster (openshift-azure)
3. tag image and release

This job needs to pull openshift-ansible to do the node build in 1. (either via git for PRs and

[2018-09-14 14:30] stevekuznetsov commented on #142
It totally is exposed in the downward API, that is how `clonerefs`consumes it upstream.

---

If you are testing `openshift-ansible` pull requests, why can't you write a template that uses the `openshift-azure` container images that are tagged into the release to do the install and verification?

[2018-09-14 15:45] kargakis opened #144 "cannot get secrets in the temporary namespace"
[code]
Trying to debug a template that uses secrets but I don't have access to them.

@stevekuznetsov @droslean

/kind bug

[2018-09-14 15:47] kargakis commented on #142
It works if I use clonerefs but not if I do skip_cloning=true and use the ci-operator for cloning. Will the ci-operator work if I do the cloning in prow (skip_cloning=false)?

Note that today we start with a periodic and eventually we will also test o-a PRs. openshift-azure is not part of the origin release.

[2018-09-14 15:51] droslean commented on #144
/assign droslean

[2018-09-14 16:04] stevekuznetsov commented on #144
Did you use the flag `--give-pr-author-access-to-namespace` ?

[2018-09-14 16:07] kargakis commented on #144
Ah, good question. This is about a periodic job so no PR :/

[2018-09-14 16:55] stevekuznetsov commented on #144
If you're debugging, self-provision a namespace and point the tool to it with `--namespace` so you have `admin`?

[2018-09-14 16:58] kargakis commented on #144
I'd still like to see the ability to grant access to github teams so we can debug postsubmits and periodics but maybe a different issue.

[2018-09-14 16:58] #144 closed

[2018-09-14 17:01] stevekuznetsov commented on #144
The whole point of the CI Operator achitecture is you should be able to 100% reproduce what CI is doing by running the tool so I am missing the "why" here

[2018-09-14 17:32] stevekuznetsov commented on #142
No, but has nothing to do with downwardapi.

We can hash out more next week in the meeting but you're choosing not to follow the established workflows with ci-operator so I am not surprised it's difficult to make it work

[2018-09-14 17:33] smarterclayton opened #145 "Need to make promote resilient to conflict errors"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/branch-ci-openshift-cluster-samples-operator-images-master/4

Forgot to do that

[2018-09-14 17:40] kargakis commented on #142
External refs are set in JOB_SPEC only in case you do the cloning in prow
so if you ever want to use them in ci-operator you'd have to fix prow
first.

On Fri, Sep 14, 2018, 19:32 Steve Kuznetsov <notifications@github.com>
wrote:

[2018-09-14 18:37] vrutkovs opened #147 "Failed to push `release` image"
[code]

Happened twice in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/10031/pull-ci-openshift-openshift-ansible-master-gcp-major-upgrade/36 and https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/10031/pull-ci-openshift-openshift-ansible-master-gcp-major-upgrade/35/. gcp task has been runnin

[2018-09-15 08:36] vrutkovs commented on #147
bash command was missing slashes, fixed in https://github.com/openshift/release/pull/1519

[2018-09-15 08:36] #147 closed

[2018-09-16 09:21] mjudeikis opened #150 "determinize-prow-jobs invalidates TEST_SKIP"
We trying to skip some invalid/broken/not-relevant tests for `openshift-azure`. But we have failure in `determinize-prow-jobs`:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_release/1520/pull-ci-openshift-release-master-ordered-prow-config/544

But if we commit with "determinized" content we get invalid regexp:
[code]
Which has a lot of whitespaces and skips a

[2018-09-16 14:35] wking commented on #150
Those brackets probably need to be escaped.  In my openshift/release#1341 script, see:

     processed = re.escape(''.join(chars).strip()) processed = processed.replace(r'\ ', ' ').replace(r'\-', '-').replace(r'\/', '/').replace(r'\=', '=') # Work around https://bugs.python.org/issue29995, fixed in Python 3.7

Dunno if that's what's giving you the error message.  You could try dropping `|(...)` bl

[2018-09-17 06:50] mjudeikis commented on #150
@wking you right for the exit of the brackets. But this should invalidate only one test skipping:
https://play.golang.org/p/ZgcudECvkWT

But this, this might not be an issue.

[2018-09-17 06:50] #150 closed

[2018-09-18 09:35] kargakis opened #153 "ci-operator tries to reuse terminating namespaces"
[code]
`ci-op-2zfnzjw2` was in terminating phase and the ci-operator tried to reuse it. If a namespace is terminating, ci-operator should probably create a different one or wait until it's cleaned up to recreate it.

[2018-09-18 09:36] kargakis commented on #153
/kind bug

[2018-09-21 18:49] bparees opened #158 "v3.11 images being published to docker hub under the "latest" tag"
I have twice now observed a :latest image pulled from dockerhub that contained v3.11 content.

@stevekuznetsov @smarterclayton

/cc @deads2k

[2018-09-22 15:33] stevekuznetsov commented on #158
What image? Can you correlate this with the Jenkins jobs listed in the OKD image publishing doc? There were a number of TODOs there.

[2018-09-22 17:52] bparees commented on #158
in this case i believe it was the hypershift image.  @deads2k was there and maybe remembers better than me.

[2018-09-22 17:53] bparees commented on #158
(previously i believe it was origin-docker-builder but my recollection is even fuzzier on that one and of course we're about to rework how that is published since the repo is changing)

[2018-09-22 23:55] smarterclayton commented on #158
When was the last time you saw it happen?

[2018-09-24 09:32] bbguimaraes opened #160 "Target substitution breaks jobs that override `RPM_REPO`"
[`error: could not run steps: could not get Route for RPM server: routes.route.openshift.io "rpm-repo" not found`](https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/10165/pull-ci-openshift-openshift-ansible-310-gcp-major-upgrade/26)

[Job.](https://github.com/openshift/release/blob/6701b541bf3ec4c3c5d96a8937e4f0ff3e8426cb/ci-operator/jobs/openshi

[2018-09-24 12:39] vrutkovs commented on #160
Correct:
[code]
Broken:
[code]

[2018-09-24 14:58] stevekuznetsov commented on #160
/assign @smarterclayton

[2018-09-24 15:03] smarterclayton commented on #160
You shouldn't have RPM_REPO set on the repo if you want your job created.

[2018-09-24 15:39] smarterclayton commented on #160
Basically I forced the thing Steve wants - use a variable like RPM_REPO_OPENSHIFT_ORIGIN.

[2018-09-24 15:41] #160 closed

[2018-09-26 21:36] wking opened #164 "Feature: Add support for other build strategies?"
I spend some time trying to set up a [build strategy][1] that wasn't [the Docker build strategy][2], but it looks like [we currently hard-code the Docker strategy][3].  Are their plans to expose other strategies?

[1]: https://docs.openshift.com/container-platform/3.10/dev_guide/builds/#dev-guide-what-is-a-build
[2]: https://docs.openshift.com/container-platform/3.10/architecture/core_concepts/bui

[2018-10-01 17:29] ecordell opened #167 "Duplicate manifests and runlevels not respected"
Our [manifests](https://github.com/operator-framework/operator-lifecycle-manager/tree/master/manifests) have this this input format (prefix 30):
[code]
but the output in `origin-release` is:
[code]

I suspect this has to do with our ci-operator config: https://github.com/openshift/release/blob/master/ci-operator/config/operator-framework/operator-lifecycle-manager/master.yaml using the `binary_bui

[2018-10-01 17:31] #167 closed

[2018-10-03 13:54] smarterclayton opened #171 "Detect when a config map doesn't exist on a running pod for > X time, fail"
A common error mode is forgetting to create a dependent config map.  We should do a slightly better job of conveying that condition back (either as a job failure or a log message)

[2018-10-03 14:15] stevekuznetsov commented on #171
We should? Or k8s should?

[2018-10-03 14:18] stevekuznetsov commented on #171
Configmaps we have issues with are:

 - CI Operator config
 - any of the assorted configmaps for the templates

The first is fixed now with an updated approach to uploading those
The second should be mitigated from copy-pasta errors for extant templates by generating the Prow config. For net-new templates, agreed this would be an issue.

[2018-10-03 14:37] smarterclayton commented on #171
I think in this case the ci-operator "wait for pod success" job could easily report the error that k8s puts on the container when the config doesn't exist after a period of time.

[2018-10-03 16:48] stevekuznetsov commented on #171
Yes, and with secrets too

[2018-10-10 15:19] vrutkovs opened #175 "Support other tests types for openshift-ansible"
`openshift_ansible` test type would provision `cluster-launch-e2e` template. In order to move tasks to ci-operator-prowgen ci-operator should support other test types:

* [ ] `openshift_ansible_upgrade` (`cluster-launch-e2e-upgrade` template)
* [ ] `openshift_ansible_custom` (`cluster-launch-e2e-openshift-ansible` template`)

[2018-10-12 14:16] #175 closed

[2018-10-15 11:28] stevekuznetsov opened #183 "`clonerefs` output is ignored, so tests can run with with incorrect refs"
We ignore the output of `clonerefs` due to https://github.com/openshift/ci-operator/commit/7ad9489ab5f502d7b40fdd33df6ca508a84f7697 and https://github.com/openshift/ci-operator/commit/9aa7a8a12785307fb33d22920d53fced467187df.

That's simply wrong and must be fixed.

We should either run `initupload` or write the log and read it ourselves, the output is simple.

If we had done this, the `master-doc

[2018-10-15 13:30] smarterclayton commented on #183
You mean, we should have read the log to find out that clone failed?

[2018-10-15 14:16] stevekuznetsov commented on #183
Thats exactly the (well documented) API for the tool...

[2018-10-17 13:35] droslean opened #185 "Annotation to force log output containerwise."
Currently, `ci-operator.openshift.io/always-show-output` annotation specifies if the pod will always show the logs no matter what the exit code is. We need to have the same feature, but containerwise.

Add new annotation `ci-operator.openshift.io/always-show-container-output` so specify which container logs `ci-operator` will output after the pod will fail.

[2018-10-19 08:54] kargakis opened #187 "Support printing logs from successful jobs in the test output"
See https://github.com/openshift/ci-operator/pull/186#issuecomment-431273320

/kind feature

[2018-10-22 08:19] droslean commented on #187
#184

[2018-10-22 08:20] droslean commented on #187
/close

[2018-10-23 11:39] #185 closed

[2018-10-25 22:44] smarterclayton commented on #158
Fixed

[2018-10-25 22:44] #158 closed

[2018-10-25 23:03] smarterclayton commented on #118
The design as implemented of this

[2018-10-30 12:40] kargakis opened #194 "Container logs are printed in a loop when a test fails"
We are seeing container logs getting printed in an endless loop in our test logs, eg. [here](https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/670/pull-ci-openshift-openshift-azure-master-e2e-azure/469). Maybe related: [we have chosen to print all container logs when there is a template failure](https://github.com/openshift/release/blob/e274d0cc4d6

[2018-11-02 17:31] #194 closed

[2018-11-05 22:37] wking opened #197 "waitForPodCompletion: panic: runtime error: index out of range"
From [an images job][1]:

[code]

[1]: https://github.com/openshift/installer/pull/615#issuecomment-436061016

[2018-11-05 22:58] #197 closed

[2018-11-07 05:42] bparees opened #200 "failed test jobs report incorrect error message"
This job had an (expected) test failure, but instead of reporting that, it reported a confusing top level job failure message of "error: could not run steps: could not wait for pod to complete: could not wait for pod completion: the pod ci-op-dibs34hg/e2e-aws-operator failed after 46m30s (failed containers: test):  unknown"

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull

[2018-11-07 10:02] droslean commented on #200
It reported that the `test` container has failed. You can check why it failed in the above lines since we print the errors of any container.

[2018-11-07 14:49] bparees commented on #200
it reports that it could not wait for the pod to complete, which implies something timed out or went fundamentally wrong.   The top level error a user is confronted with when they go to the job url(https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_cluster-image-registry-operator/59/pull-ci-openshift-cluster-image-registry-operator-master-e2e-aws-operator/2) is:

"

[2018-11-08 09:52] droslean commented on #200
@bparees It reports that is could not wait for pod completion because a container inside this pod has already failed, in this case, `test` container failed. Since we know that the pod will end up failed because one of the containers has already failed, we don't need to wait for the others to be completed, so we exit there. There is also a chance that the pod will hang, and in this case, we timeout

[2018-11-08 14:40] bparees commented on #200
It should report "container x failed, terminating pod" or something else that makes it clear *why* it is not/did not wait for the pod to complete.

[2018-11-08 15:09] droslean commented on #200
@bparees There are other errors that can occur there.  I am hoping that an error like:
`error: could not run steps: didn't wait for the pod to complete: the pod nmoraitis-dev/test-template failed after 4m30s (failed containers: test)` should be clear enough for the user.

[2018-11-08 15:22] bparees commented on #200
hopefully we'll learn to understand it, anyway, thanks.

[2018-11-08 15:22] #200 closed

[2018-11-09 16:17] stevekuznetsov opened #203 "ci-operator stacktrace on artifact publishing?"
[code]

/cc @smarterclayton

[2018-11-09 16:22] smarterclayton commented on #203
Wait, was this different than what Trevor fixed?  It looks almost identical...

[2018-11-11 03:45] smarterclayton commented on #203
Also

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_cluster-kube-apiserver-operator/114/pull-ci-openshift-cluster-kube-apiserver-operator-master-images/225

[2018-11-11 18:52] #203 closed

[2018-11-11 21:57] smarterclayton commented on #203
I'm reverting the code changes that led to this path for now.  I made some suggestions in the revert Pr - using the artifact notifier will probably be a better path and reduce the complexity of the changes here.  The artifact notifier can then capture the necessary artifacts from successful pods (it gets the info needed) and we won't have to change the pod path.

[2018-11-15 13:29] droslean commented on #131
We never supported exposing the `base_images` to `IMAGE_<key>` variable to the templates.
A workaround to achieve this should be by combining the `base_images` with `raw_steps.output_image_tag_step`
[code]

or by manually defining the value in the template's variable:
[code]
@stevekuznetsov Shall we implement this to avoid those workarounds?

[2018-11-15 15:18] stevekuznetsov commented on #131
No, for base images the pull spec should just be used.

[2018-11-16 10:41] droslean commented on #131
/close

[2018-11-16 10:41] #131 closed

[2018-11-29 19:36] kwoodson opened #223 "error creating events in namespace"
When attempting to run the ci-operator locally I am seeing the ci-operator reporting the following message:

[code]

With a bit more granularity (`-v`):
[code]

Command:
[code]

Git commit: a8d8a5960320bc96f105ad8a98c283bbe4bfbbfc

I've attempted to create this test in different namespaces but the results are the same.

Any ideas what is happening here?

[2018-11-30 09:55] kargakis opened #224 "template is said to be executed but actually never runs"
We made a [change](https://github.com/openshift/release/pull/2257) in our e2e template that seems to have silently broken template execution in all of our PRs. Look at the duration of our e2e job go down around the time we merged 2257. That's because the e2e pod does not run.
![bug](https://user-images.githubusercontent.com/3900799/49281804-cbb4f400-f48d-11e8-9103-748d3e458436.png)
ci-operator see

[2018-11-30 10:01] bbguimaraes commented on #224
Judging by the output , you may be hitting [this bug](https://jira.coreos.com/browse/DPTP-231).

[2018-11-30 10:04] kargakis commented on #224
@bbguimaraes seems to be the same issue, thanks!

[2018-11-30 10:04] #224 closed

[2018-11-30 14:17] kwoodson commented on #223
This is a case of https://github.com/openshift/ci-operator/issues/224.

[2018-11-30 14:17] #223 closed

[2018-12-01 17:42] smarterclayton commented on #164
I don’t think so.  I think we want to focus on dockerfiles as our consistent way to build.

[2018-12-05 14:31] kargakis opened #227 "periodic and postsubmit pods end up in the same namespace"
Postsubmit [here](https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/branch-ci-openshift-openshift-azure-master-e2e-azure/9) is created in `ci-op-w9mqhq3g`. Periodic [here](https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/periodic-ci-azure-no-running-under-test/2) is created in the same namespace. It probably should not. I would expect the periodic job to end up in

[2018-12-05 16:15] petr-muller commented on #227
Isn't this intentional? The namespace name hash is generated out of all inputs (config, repo sha, base images), so one job should be able to reuse the work done by the other.

[2018-12-05 19:06] wking opened #228 "Failures to delete already-deleted artifacts containers"
From [here][1]:

[code]

This is similar to #197 / #198, where the same code-path was leading to a panic.  We no longer panic, but now we're apparently exiting with an error.  Ideally `ci-operator`'s response to "I'm trying to delete $CONTAINER and it's already gone" would change from "so I'm going to die" to "so great!  Moving on..." ;).

[1]: https://storage.googleapis.com/origin-ci-test/pr-logs

[2018-12-05 19:36] stevekuznetsov commented on #227
Yeah, this is intentional to reuse. Why would you expect them to be separate?

[2018-12-05 19:40] stevekuznetsov commented on #228
/cc @petr-muller @smarterclayton

[2018-12-05 19:40] stevekuznetsov commented on #228
/kind bug

[2018-12-06 08:30] kargakis commented on #227
The only reason for running the same job as a postsubmit and periodic is a repo that doesn't have a lot of activity but that's not our case so probably a non-issue.

[2018-12-06 08:30] #227 closed

[2018-12-12 10:01] droslean commented on #142
Jira opened for this: https://jira.coreos.com/browse/DPTP-290

[2019-01-07 10:52] kargakis opened #237 "test results are reused when build gets OOM-killed"
When a pod gets OOM-killed, `/retest`ing stops working and ci-operator reuses the OOM-killed test run's result. See https://openshift-gce-devel.appspot.com/pr/openshift_openshift-azure/984 (1725 to 1727). I had to get into the namespace and manually delete the build in order to restart the test successfully.
[code]
Pod manifest:
<details>

[code]
</details>
Build manifest (from a different test):

[2019-01-07 11:36] mjudeikis opened #238 "[RFE] Default project admins"
We run multiple CI jobs in our projects and sometimes when switching between timezones or while colleagues being OoO it is very hard to debug their jobs on CI cluster because only PR author has access to the namespaces.
This, even more, complicates things for "test babysitter" role each week.

The suggestion is to add certain people to the projects Admins by default on each namespace, created in c

[2019-01-07 15:19] jim-minter commented on #238
+1 - this would be super useful

[2019-01-08 15:44] smarterclayton commented on #237
Interesting, this could be a template instance bug as well.

[2019-01-08 15:54] mjudeikis opened #239 "e2e template deleted immediately"
We ran CI job and template was not initiated/deleted just after creation as part of jobs:

[code]
events: http://pastebin.test.redhat.com/692435

Pods:
[code]

Job:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/922/pull-ci-openshift-openshift-azure-master-e2e-azure/1768

/kind bug

[2019-01-08 21:37] stevekuznetsov commented on #237
We need to update this:

https://github.com/openshift/ci-operator/blob/0f8285dfd0d1af2a08072e237f09b4c8973f6717/pkg/steps/source.go#L247-L251

[2019-01-08 21:40] stevekuznetsov commented on #238
Hrm you're really not supposed to be poking around in there often and that smells like a failure for us to provide something else for you. Can you describe your use cases? You  have PRs that stay open for a while and many people go into the namespaces _while the tests run_ to debug? Why not add debug information into the test output so you can have the information even when tests are over? Trying

[2019-01-09 09:21] mjudeikis commented on #238
@stevekuznetsov we have a big variety of tests cases, and more being added. And to add more complexity our flows are very complex. From creating a cluster, rotating credentials, update cluster, operations activities, scaleup, scaledown, etc etc.
And things like these: https://github.com/openshift/ci-operator/issues/239 , https://github.com/openshift/ci-operator/issues/237 just from this and last w

[2019-01-09 09:43] kargakis commented on #238
Yeah, this is not only for poking during runtime but also after the test
completes.
Especially CI issues like the OOM thing are very annoying to debug. This is
also
needed because not every PR author is going to have the ability to get into
a
namespace and debug issues (eg. new hires who are also newcomers to
OpenShift).

On Wed, Jan 9, 2019 at 10:22 AM Mangirdas Judeikis <notifications@github.com

[2019-01-09 11:16] bbguimaraes commented on #237
I don't think it is that simple.  Unless the original build is removed, we are going to be stuck in that loop.

`ci-operator` reuses the build (conceptually) because the inputs have not changed.  If that is the case, we are likely to hit the OOM scenario again.  Isn't the proper solution here to increase the resource requirements of the job?

[2019-01-09 17:01] mjudeikis commented on #237
one more:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1008/pull-ci-openshift-openshift-azure-master-images/1411

[2019-01-09 18:56] stevekuznetsov commented on #238
Hrm.... but why not run these using `ci-operator` locally? You'll get an identical environment and manage it yourself. I really don't want to support devs debugging jobs in situ during the run or trying to make sure they get in there before the TTL expires afterword. Always when I debugged confusing and complicated test failures for Origin, the first step was to run it locally (or trigger the remo

[2019-01-09 18:57] stevekuznetsov commented on #239
@smarterclayton this is suspicious

[2019-01-09 20:02] smarterclayton commented on #239
The sync build failure will block templates that depend on it from running, although the error message is wierd.

[2019-01-10 10:19] mjudeikis commented on #238
We do use it locally. But not for every PR and every job as it is still very raw and hard to use. Most of the times we need to "go in" is to check failure (environmental or code, flake) which is not replicable locally due to nature of the failure.

If you are "test babysitter for a week", it's a huge toil to investigate each failure without access to runtimes. Just saying :)

[2019-01-10 10:19] mjudeikis commented on #237
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1008/pull-ci-openshift-openshift-azure-master-e2e-azure/1802

[2019-01-10 10:21] droslean commented on #237
It seems that this case applies for each phase. `ci-operator` considers `OOMkilled` as failed and just print the logs. In any state, `ci-operator` won't re-create the build. It does that only if it not exist. see [here](https://github.com/openshift/ci-operator/blob/0f8285dfd0d1af2a08072e237f09b4c8973f6717/pkg/steps/source.go#L224)

[2019-01-10 17:03] stevekuznetsov commented on #238
We also have a staging environment where you can run your jobs, and soon we would like to have a copy-paste-able stanza in job failure logs you can run to replicate a job from your own workstation.

[2019-01-14 09:01] droslean commented on #228
This is not related to #197 / #198.  That smells like a race condition in while deleting the pod.

[2019-01-14 09:06] droslean commented on #153
That was resolved in [ci-ns-ttl-controller/#2](https://github.com/openshift/ci-ns-ttl-controller/pull/2)

/close

[2019-01-14 09:06] #153 closed

[2019-01-14 09:07] droslean commented on #164
/close

[2019-01-14 09:07] #164 closed

[2019-01-14 09:22] droslean commented on #122
That does not seem like a ci-operator bug. I am not sure why ci-operator received `SIGABRT` signal, but this can be related also with the bug we had when `ci-ns-ttl-controller` was marking active namespaces for deletion, that it was fixed in [#ci-ns-ttl-controller/2](https://github.com/openshift/ci-ns-ttl-controller/pull/2)

[2019-01-18 16:39] stevekuznetsov commented on #238
These days it's literally one command. Sorry, but I don't buy it. When was the last time you tried? We've worked very hard to make it easy. Please give it a chance.

[2019-01-18 16:40] stevekuznetsov commented on #238
They do ... and if you have a cluster up locally, run the test 100x and you'll see the flake. The environment is identical and it's only chance you don't see a flake.

[2019-01-18 16:47] kargakis commented on #238
Well, fwiw, we have cases where we experience flakes only in CI, see https://github.com/openshift/release/issues/2608

[2019-01-18 16:50] stevekuznetsov commented on #238
That may be an api.ci issue -- and if you use the single-line-reproducer I am talking about it, you'd have seen it, too ...

[2019-01-18 17:09] #238 closed

[2019-01-20 16:17] tnozicka opened #241 "ProjectDirectoryImageBuildInputs are missing `from`"
I want to have `build_root`.`project_image` based on an imagestream in api.ci but I am not able to replace `FROM` in that Dockerfile. More concretely I want to extend the root image (golang-1.10) with nss_wrapper , but I am unable to specify the api.ci imagestream as an input:
https://github.com/openshift/ci-operator/blob/0a8acd2c24e252d69ae864b7c222346638319c4e/pkg/api/types.go#L430-L445

[2019-01-20 17:25] tnozicka opened #242 "build_root.project_image.dockerfile_path is broken"
build_root.project_image.dockerfile_path is taken from master instead of the branch that's being tested meaning you can never succeed adding that file. (Also means CI let's you delete that file and get permanently broken.)

[code]

/kind bug

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/tnozicka_openshift-acme/79/pull-ci-tnozicka-openshift-acme-master-verify/46

[2019-01-20 17:36] tnozicka commented on #242
I suspect this should reference the pull, not the master branch:
https://github.com/openshift/ci-operator/blob/0f4249e1f41d291bb5b63c913d3abe98f5c17c0b/pkg/steps/git_source.go#L25-L34

[2019-01-20 17:41] tnozicka commented on #242
Though this will be an easy fix, but given the design where the job can be run for multiple pulls, you don't have a remote reference to use.

[2019-01-20 17:44] tnozicka commented on #242
Actually I think you can start openshift builds from a local dir and the content gets synced which would solve this.

[2019-01-20 17:46] tnozicka commented on #242
/cc @droslean @petr-muller @bbguimaraes @smarterclayton

[2019-01-20 18:52] droslean commented on #242
@tnozicka  Did you test this locally?

[2019-01-20 19:12] droslean commented on #242
As I see in the docs
`If the ref field denotes a pull request, the system will use a git fetch operation and then checkout FETCH_HEAD.`
So we can always use the pull request as `ref` and if that Dockerfile is not included in the PR, it will get it from the master either way.

[2019-01-20 19:13] droslean commented on #242
/assign @droslean

[2019-01-21 10:42] tnozicka opened #244 "Allow exposing the test pod using a Route"
`openshift-acme` e2e tests need to be exposed to internet so Let's Encrypt can reach back and validate acme challenges. Have tried doing this whit `ngrok` before but they've introduced 20 req/s rate limit, then serveo.net but that strips the `.well-known` paths. Given the test (created) cluster is not exposed to the internet I can forward request from the e2e pod running in the api.ci cluster but

[2019-01-21 16:08] #237 closed

[2019-01-21 16:46] stevekuznetsov commented on #244
Just add it to your template?

[2019-01-21 19:44] tnozicka commented on #244
I am using a stock e2e, not easy to add it there. and you'd have to add it to all the templates (I want to have e2e with 3.11 and 4.0 in the future. I couldn't find an easy way to extend the test by adding additional template to it and to inject an env var into the e2e pod

[2019-01-22 11:18] droslean commented on #244
/close

[2019-01-22 11:18] #244 closed

[2019-01-28 11:02] droslean commented on #242
/close

[2019-01-28 11:02] #242 closed

[2019-01-30 13:47] mgencur opened #249 "Failing to build images in OpenShift 4"
Running the ci-operator against OpenShift 4 fails to build some images. The `root`, `src` and `bin` images are built correctly but the following image that is based on `base` and uses inputs from `bin` fails. It can't find the Dockerfile that the image is based on.
When using [this](https://github.com/openshift/release/blob/master/ci-operator/config/openshift/knative-serving/openshift-knative-serv

[2019-01-30 14:10] petr-muller commented on #249
Interesting. I just run `ci-operator --git-ref openshift/knative-serving@release-0.2 --config ci-operator/config/openshift/knative-serving/openshift-knative-serving-release-0.2__v4.0.yaml --target=[images]` with the current `ci-operator` and fresh `openshift/release` master branch successfully.

Do you have a link to failing ci-operator run?

[2019-01-30 14:32] mgencur commented on #249
I have my own OpenShift 4 cluster and KUBECONFIG pointing to it. Did you really run it against OpenShift 4? The OpenShift at https://api.ci.openshift.org is 3.11 and there it runs fine.

[2019-02-08 21:43] smarterclayton opened #258 "extra_refs ignored"
Tried setting extra_refs in https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/periodic-ci-origin-conformance-k8s/213/ but looks like src-build doesn't get it correctly.

[code]

[code]

[2019-02-08 21:43] smarterclayton commented on #258
/assign @smarterclayton

[2019-02-09 06:08] shlao opened #259 "Failed to push images to private registry on OCP 3.11"
HI, I try to setup the environment for ci-operator to watch  [Installer](https://github.com/openshift/installer)
Then I get the following errors when pushing images to the OCP 3.11 private registry:
*** Image of the release container is : registry.svc.ci.openshift.org/openshift/origin-v4.0@sha256:08a5da4ce4fa7b95393c15ff7ab0ea1a97edf5aa2f9bef6150e60370fd641555

   a)  ci-operator has not been test

[2019-02-09 07:31] smarterclayton commented on #258
Fixed in #260

[2019-02-11 13:40] petr-muller commented on #259
Hi, thanks for the report! To be able to help you out, we'll need more information from you:

1. What cluster are you trying to run ci-operator against? I understand it's some custom OCP 3.11 cluster?
2. Please provide exact inputs/outputs you are using. Ideally, give us the full `ci-operator` command you are trying to run (with all parameters), the ci-operator config file content you use and any

[2019-02-12 09:05] shlao commented on #259
@petr-muller Thanks
1. OCP 3.11 is installed on two nodes: one master, one infra. I use the [ansible playbooks](https://github.com/openshift/openshift-ansible)  to setup the cluster and follow the [guide](https://docs.openshift.com/container-platform/3.11/install_config/registry/deploy_registry_existing_clusters.html) to configure the private registry (with ssl).

2. I don't set JOB_SPEC. I start

[2019-02-12 09:14] shlao commented on #259
The output log is similar to [logs]( https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_installer/1232/pull-ci-openshift-installer-master-e2e-aws/3580/build-log.txt)

But failed at the release step.

[2019-02-12 14:14] petr-muller commented on #259
You can use [triple backticks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to pass log or code blocks properly formatted. Please provide the output of ci-operator command (the one you give in bullet 2), ideally after you fix the SSL setup (I don't think we'll want to deal with running `ci-operator` against misconfigured registries, like ones with self-signed certificat

[2019-02-12 15:36] shlao commented on #259
@petr-muller  The log is too long. I attach it (use cluster-launch-installer-libvirt-e2e.yaml).
[ci-operator-installer.log.txt](https://github.com/openshift/ci-operator/files/2856419/ci-operator-installer.log.txt)

For now, There is only a few e2e test cases for installer. We ,OCP QE, need to add more test-cases about that.
For example, when Upstream releasing new version of installer, we want to

[2019-02-12 17:35] petr-muller commented on #259
That's still the failure caused by self-signed certificate, no?

[2019-02-13 06:12] shlao commented on #259
Yes, I can handle the ca failed. then ci-operator will raise problems of b and c.

[2019-02-14 12:09] droslean commented on #241
it seems that you need [this](https://github.com/openshift/ci-operator/blob/master/pkg/api/types.go#L462-L477), but we haven't implement this yet.

[2019-02-14 12:13] droslean commented on #142
duplicated with #258

[2019-02-14 12:13] droslean commented on #142
/close

[2019-02-14 12:13] #142 closed

[2019-02-14 12:21] droslean commented on #122
I am closing this issue since it was never reported again, also race condition of deleted namespaces by ci-ns-ttl-controller was also fixed.

/close

[2019-02-14 12:21] #122 closed

[2019-02-14 15:37] enxebre opened #262 "ci-operator namespace should not cache `IMAGE_INSTALLER`"
Today the ci-operator namespace caching is reusing the same installer image on multiple re-runs.
If it happens that the e2e coverage on the installer does not catch a bug breaking the relation between the installer and one or multiple operators, then any PR in any of those repos will be death lock even if a fix get merged into the installer.
Also the same would apply the other way around. An opera

[2019-02-14 15:37] enxebre commented on #262
cc @bbguimaraes @petr-muller @smarterclayton @derekwaynecarr

[2019-02-14 15:49] smarterclayton commented on #262
This has always been the design.  The chances of this happening is very low in practice.

We should probably make it easier to bust the cache, and possibly explore if there is an unambiguous signal that the cache is truly expired.

[2019-02-15 13:59] deads2k opened #265 "e2e-aws jobs failing super fast before running tests."
I have a few pulls that are symptomatic like this: https://openshift-gce-devel.appspot.com/pr/openshift_cluster-kube-apiserver-operator/258 that have e2e-aws jobs failing extremely quickly.

@droslean @mfojtik

[2019-02-15 14:29] bbguimaraes commented on #265
Explained in private chat, but for the record: this was due to a bad template being accidentally pushed to the cluster. It has been fixed and the pods are now running normally.

/close

[2019-02-15 14:29] #265 closed

[2019-02-18 13:00] #239 closed

[2019-02-18 13:09] mjudeikis opened #271 "[RFE] Promotion flag"
We have use cases where we want to build images with container image tags corresponding to git tags.
Something similar as `openshift-ansible` used to do where we have `release-vx` branch, and multiple tags with `vx.y.z` on the repo.

As a post-commit job into a release branch, we would like to promote images to external namespace with those tags. Potentially in the future, these images would go in

[2019-02-18 15:07] droslean commented on #271
There is a different ci-operator `config` for each branch already. Ci-operator will promote the images that have been tagged in the config in the `images.to` field. You should make sure that the tags are different between your branches to avoid overriding the images.

[2019-02-18 15:37] mjudeikis commented on #271
Yes, and tag should be dynamically built/generated. In our case we would prefer it to be `git tag` based. But to accommodate wider use cases we might want to add something like `command` or `resolved` where we define how to define the unique value

[2019-02-18 15:56] droslean commented on #271
Even that this idea is nice to have, we don't want to force our stakeholders to use git tags for promoting their images. Hence the logic of the separated config files for each repo.

[2019-02-18 18:28] mjudeikis commented on #271
It should be something like `tag_postfix` field or something like that, which would be optional.
All this functionality should be optional, sale as test secret.

[2019-02-18 20:50] #258 closed

[2019-02-19 02:10] smarterclayton commented on #271
So most of this behavior is going to be controlled by either the thing that controls the release payload (release new) or the thing that builds your OLM operator (OSBS pipeline).  In both cases you won't be the one setting the version in the code, the build infrastructure will.

For core components the internal version will be ignored and not reported to end users - each image already tracks the s

[2019-02-19 02:11] smarterclayton opened #274 "Evicted builds can be retried"
If a build fails with:

[code]

the build can be restarted by the next caller. It does not currently.

[2019-02-19 06:09] smarterclayton commented on #274
We can also report that the pod was evicted by looking at the pod reason

[code]

[2019-02-19 13:47] mjudeikis commented on #271
@smarterclayton this is all fine if we are talking about v4 world. This would serve for OSA build pipelines, where we need to control version in the code as a part of release payload to MSFT. But for this we need to be aligned with ART and OSA/MSFT requirements. Everything is still in the air how it will be done and we have a call today to discuss this (OpenShift on Azure call). Just probing all p

[2019-02-19 13:47] mjudeikis commented on #271
/cc @y-cote @jim-minter

[2019-02-19 14:38] mjudeikis opened #276 "[rfe] targets dependency management"
Ou test jobs are depending on multiple targets to be completed. In example:
[code]

Upgrade job `e2e-upgrade-v1.2` job is building OSA cluster and testing upgrade process from stable code to testing code.
In this example, cluster creation requires images to be available and images have to be available to be pulled from outside (hence rbac template to create a policy to open images for temporary na

[2019-02-26 08:15] #259 closed

[2019-02-26 08:16] shlao commented on #259
Use --to-file instead of  --to-image-b
or
Using OCP ci cluster

[2019-03-28 20:16] stevekuznetsov commented on #228
/assign @petr-muller

[2019-03-29 19:05] wking commented on #228
Cross-linking [rhbz#1693865][1].

[1]: https://bugzilla.redhat.com/show_bug.cgi?id=1693865

[2019-04-01 18:16] stevekuznetsov commented on #228
I think some of these are the artifacts container being part of an evicted pod -- we need to be best-effort in this case _anyway_ but it was the same root cause

[2019-04-04 03:23] stevekuznetsov opened #314 "build pod already exists and is older than the build"
Just hit this on my PR https://github.com/openshift/ci-operator/pull/313 -- the _first_ round of tests had every single test fail with:

[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_ci-operator/313/pull-ci-openshift-ci-operator-master-unit/476
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_ci-operator/313/pull-ci-o

[2019-04-04 03:24] stevekuznetsov commented on #314
Ah, one of the jobs has

[code]

[2019-04-04 03:24] stevekuznetsov commented on #314
So it would seem that our build retry logic is bad

[2019-04-04 14:24] #314 closed

[2019-04-11 08:33] vrutkovs opened #320 "[RFE] Rehearse jobs should add PR owner as admin"
Rehearse jobs won't let the PR author access the created namespace, which is essential to debug issues

[2019-04-11 08:46] vrutkovs commented on #320
Closed in favor of https://github.com/openshift/ci-operator-prowgen/issues/135

[2019-04-11 08:46] #320 closed

[2019-04-17 16:26] chancez opened #333 "root pipeline image is using baseRef, not PR"
- it seems like my `src` image isn't doing what im expecting it to.
https://github.com/openshift/release/blob/master/ci-operator/config/operator-framework/operator-metering/operator-framework-operator-metering-master.yaml#L13 is where i define `project_image`.
- according to https://github.com/openshift/ci-operator/blob/master/ONBOARD.md#source-code-image-target this should be my `src` .
- in my P

[2019-04-17 17:25] stevekuznetsov commented on #333
This is documented and WAI

https://github.com/openshift/ci-operator/blob/master/CONFIGURATION.md#build_rootproject_image

/close

[2019-04-17 17:25] #333 closed

[2019-05-21 12:24] petr-muller commented on #228
There's a detailed analysis in the associated [BZ](https://bugzilla.redhat.com/show_bug.cgi?id=1693865#c12). TL;DR there's a read/deletion race when multiple ci-operator instances wait on a single pod to finish and try to collect artifacts from it. [PR](https://github.com/openshift/ci-operator/pull/348) should reduce occurrences in practice, but the race is still present.

These races are one thin

[2019-05-22 12:01] petr-muller commented on #228
https://github.com/openshift/ci-operator/pull/348 is a band-aid that should reduce occurrences of the race to minimum. We saw last occurrence before merge (May 20 2019 23:15:55 CEST) and none since, so the band-aid helped (we used to have 5-10 hits each day).
https://github.com/openshift/ci-operator/pull/351 improved the message for these situations (not just the race, but any event when pod is de

[2019-05-22 12:01] #228 closed